body {
    padding: 10px;
}

.CodeMirror {
    border: 1px solid black;
    height: 200px;
}

.CodeMirror-matchingbracket {
    color: black !important;
    font-weight: bolder;
}

#repl {

}

#repl .repl-itself {
    width: 800px;
    height: 600px;
    overflow-y: scroll;
    border: 1px solid black;

    margin-right: 6px;

    float: left;
}
#repl .right-panel {

    padding-left: 5px;
}
#repl .right-panel .example {
    width: 100%;
}


#repl .CodeMirror {
    border: 0;
    height: auto;
    line-height: 19px;
}

#repl .CodeMirror.user {
    font-weight: bolder;
}


#repl .CodeMirror.input {
    height: auto;
    background-color: white;
}
#repl .CodeMirror.prompt {
    float: left;
    margin-right: -30px;
}
.CodeMirror.prompt {
    background-color: rgb(240, 240, 240);
}

