body {
    padding: 10px;
}

.CodeMirror {
    border: 1px solid black;
    height: 200px;
}

.CodeMirror-matchingbracket {
    color: black !important;
    font-weight: bolder;
}

#repl {
    border: 1px solid black;
    height: 350px;
    overflow-y: scroll;
}


#repl .CodeMirror {
    border: 0;
    height: auto;
    line-height: 19px;
}

#repl .CodeMirror.input {
    height: auto;
    background-color: white;
}
#repl .CodeMirror.promt {
    float: left;
    margin-right: -21px;
}
.CodeMirror.promt {
    background-color: rgb(240, 240, 240);
}

